<center> <h1> Week 9 - Deliverables </h1> </center>

<center><h1> Data Science:: Bank Marketing (Campaign)<br> <br>
Group Project <br><br>
 Data Cleansing and Transformation<br> </h1></center>
<hr>

## Team member's details:
- Group Name: Data Girl
- Name: Fatimah Asiri
- Email: alassirifatima@gmail.com
- Country: Saudi Arabia
- College/Company: Freelancer
- Specialization:  Data Science
<hr>

## Problem description:
- ABC Bank wants to sell its term deposit product to customers and before launching the product they want to develop a model which helps in understanding whether a particular customer will buy its product or not (based on the customer's past interaction with the bank or other Financial institutions).

## Task:

1. Business Understanding
2. Data understanding
3. Exploratory data Analysis
4. Data Preparation
5. Model Building ( Logistic Regression, ensemble, Boosting etc)
6. Model Selection
7. Performance reporting
8. Deploy the model
9. Converting ML metrics into Business metric and explaining result to business

<hr>

### 1. Business understanding
- Bank wants to use the ML model to shortlist customer whose chances of buying the product is more so that their marketing channels marketing SMS/email marketing, etc. can focus only on those customers whose chances of buying the product is more.

- This will save resources and time (which is directly involved in the cost (of resource billing).

- Develop a model with Duration and without duration features and report the performance of the model.

- The duration feature is not recommended as this will be difficult to explain the result to the business and also it will be difficult for businesses to campaign based on duration.

<hr>

### 2. Data understanding

#### 2.1. Import Libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt

#### 2.2. Load Data

In [2]:
# read csv file by pandas
df=pd.read_csv('Bank.csv')

#### 2.3. Basics information about data

In [3]:
# to see first 5 rows in data 
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

<hr>

In [4]:
# to see basic infornation about data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49732 entries, 0 to 49731
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        49732 non-null  int64
 1   job        49732 non-null  object
 2   marital    49732 non-null  object
 3   education  49732 non-null  object
 4   default    49732 non-null  object
 5   balance    49732 non-null  int64
 6   housing    49732 non-null  object
 7   loan       49732 non-null  object
 8   contact    49732 non-null  object
 9   day        49732 non-null  int64
 10  month      49732 non-null  object
 11  duration   49732 non-null  int64
 12  campaign   49732 non-null  int64
 13  pdays      49732 non-null  int64
 14  previous   49732 non-null  int64
 15  poutcome   49732 non-null  object
 16  y          49732 non-null  object
dtypes: int64(7), object(10)
memory usage: 6.5+ MB

In [5]:
# to know how many rows and columns
print("The Shape of Dataset:",df.shape)

The Shape of Dataset: (49732, 17)

In [6]:
# to see waht the data types for each column
df.dtypes

age           int64
job          object
marital      object
education    object
default      object
balance       int64
housing      object
loan         object
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
y            object
dtype: object

In [7]:
# to Generate descriptive statistics for numeric  
df.describe()

,age,balance,day,duration,campaign,pdays,previous
count,49732.000000,49732.000000,49732.000000,49732.000000,49732.000000,49732.000000,49732.000000
mean,40.957472,1367.761562,15.816315,258.690179,2.766549,40.158630,0.576892
std,10.615008,3041.608766,8.315680,257.743149,3.099075,100.127123,2.254838
min,18.000000,-8019.000000,1.000000,0.000000,1.000000,-1.000000,0.000000
25%,33.000000,72.000000,8.000000,103.000000,1.000000,-1.000000,0.000000
50%,39.000000,448.000000,16.000000,180.000000,2.000000,-1.000000,0.000000
75%,48.000000,1431.000000,21.000000,320.000000,3.000000,-1.000000,0.000000
max,95.000000,102127.000000,31.000000,4918.000000,63.000000,871.000000,275.000000

In [8]:
# to Generate descriptive statistics for obiect
df.describe(include=['object'])

,job,marital,education,default,housing,loan,contact,month,poutcome,y
count,49732,49732,49732,49732,49732,49732,49732,49732,49732,49732
unique,12,3,4,2,2,2,3,12,4,2
top,blue-collar,married,secondary,no,yes,no,cellular,may,unknown,no
freq,10678,30011,25508,48841,27689,41797,32181,15164,40664,43922

#### 2.4. checking on missing values

In [9]:
# check on missing data in coulmns
df.isna().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

#### 2.5. checking on dulicates rows

In [ ]:
#identify duplicate rows
duplicateRows = df[df.duplicated()]
#view duplicate rows
duplicateRows

In [ ]:
# drop duplicates rows
df.drop_duplicates(keep=False)

#### 2.6. Analysis the columns

In [ ]:
# to see the coulmns names for dataset
df.columns

In [ ]:
# to see how many unique value in each columns
df.nunique()

In [ ]:
# The unquie value in coulmn (age)
df['age'].unique()

In [ ]:
# Figure size
plt.figure(figsize=(20,10))

# Figure title
plt.title(" Distribution the age of Bank Clients ", loc="center",fontsize='15')

# plot
sns.histplot(data= df, x="age" , common_norm=False,shrink=.8,multiple="dodge")

# Figure show
plt.show()

<hr>

In [ ]:
# The unquie value in coulmn (job)
df['job'].unique()

In [ ]:
# Figure size
plt.figure(figsize=(20,10))

# Figure title
plt.title(" Distribution the job of Bank Clients ", loc="center",fontsize='15')

# plot
sns.histplot(data= df, x="job" , common_norm=False,shrink=.8,multiple="dodge")

# Figure show
plt.show()

<hr>

In [ ]:
# The unquie value in coulmn (marital)
df['marital'].unique()

In [ ]:
# Figure size
plt.figure(figsize=(20,10))

# Figure title
plt.title(" Distribution the marital status of Bank Clients ", loc="center",fontsize='15')

# plot
sns.histplot(data= df, x="marital" , common_norm=False,shrink=.8,multiple="dodge")

# Figure show
plt.show()

<hr>

In [ ]:
# The unquie value in coulmn (education)
df['education'].unique()

In [ ]:
# Figure size
plt.figure(figsize=(20,10))

# Figure title
plt.title(" Distribution the education status of Bank Clients ", loc="center",fontsize='15')

# plot
sns.histplot(data= df, x="education" , common_norm=False,shrink=.8,multiple="dodge")

# Figure show
plt.show()

<hr>

In [ ]:
# The unquie value in coulmn (default)
df['default'].unique()

In [ ]:
# Figure size
plt.figure(figsize=(8,5))

# Figure title
plt.title(" Distribution Bank Clients have cridet card ", loc="center",fontsize='15')

# plot
sns.histplot(data= df, x="default" , common_norm=False,shrink=.8,multiple="dodge")

# Figure show
plt.show()

<hr>

In [ ]:
# The unquie value in coulmn (balance)
df['balance'].unique()

In [ ]:
# Figure size
plt.figure(figsize=(20,10))

# Figure title
plt.title(" Distribution the balance of Bank Clients ", loc="center",fontsize='15')

# plot
sns.histplot(data= df, x="balance" , common_norm=False,shrink=.8,multiple="dodge")

# Figure show
plt.show()

<hr>

In [ ]:
# The unquie value in coulmn (housing)
df['housing'].unique()

In [ ]:
# Figure size
plt.figure(figsize=(8,5))

# Figure title
plt.title(" Distribution Bank Clients have housing loan ", loc="center",fontsize='15')

# plot
sns.histplot(data= df, x="housing" , common_norm=False,shrink=.8,multiple="dodge")

# Figure show
plt.show()

<hr>

In [ ]:
# The unquie value in coulmn (loan)
df['loan'].unique()

In [ ]:
# Figure size
plt.figure(figsize=(8,5))

# Figure title
plt.title(" Distribution Bank Clients have loan ", loc="center",fontsize='15')

# plot
sns.histplot(data= df, x="loan" , common_norm=False,shrink=.8,multiple="dodge")

# Figure show
plt.show()

<hr>

In [ ]:
# The unquie value in coulmn (contact)
df['contact'].unique()

In [ ]:
# Figure size
plt.figure(figsize=(20,10))

# Figure title
plt.title(" Distribution the contact away of Bank Clients ", loc="center",fontsize='15')

# plot
sns.histplot(data= df, x="contact" , common_norm=False,shrink=.8,multiple="dodge")

# Figure show
plt.show()

<hr>

In [ ]:
# The unquie value in coulmn (day)
df['day'].unique()

In [ ]:
# Figure size
plt.figure(figsize=(20,10))

# Figure title
plt.title(" Distribution the  Active day of Bank Clients ", loc="center",fontsize='15')

# plot
sns.histplot(data= df, x="day" , common_norm=False,shrink=.8,multiple="dodge")

# Figure show
plt.show()

<hr>

In [ ]:
# The unquie value in coulmn (month)
df['month'].unique()

In [ ]:
# Figure size
plt.figure(figsize=(20,10))

# Figure title
plt.title(" Distribution the Active month of Bank Clients ", loc="center",fontsize='15')

# plot
sns.histplot(data= df, x="month" , common_norm=False,shrink=.8,multiple="dodge")

# Figure show
plt.show()

<hr>

In [ ]:
# The unquie value in coulmn (duration)
df['duration'].unique()

In [ ]:
# Figure size
plt.figure(figsize=(20,10))

# Figure title
plt.title(" Distribution the duration of Bank Clients ", loc="center",fontsize='15')

# plot
sns.histplot(data= df, x="duration" , common_norm=False,shrink=.8,multiple="dodge")

# Figure show
plt.show()

<hr>

In [ ]:
# The unquie value in coulmn (campaign)
df['campaign'].unique()

In [ ]:
# Figure size
plt.figure(figsize=(20,10))

# Figure title
plt.title(" Distribution the campaign of Bank Clients ", loc="center",fontsize='15')

# plot
sns.histplot(data= df, x="campaign" , common_norm=False,shrink=.8,multiple="dodge")

# Figure show
plt.show()

<hr>

In [ ]:
# The unquie value in coulmn (pervious)
df['previous'].unique()

In [ ]:
# Figure size
plt.figure(figsize=(20,10))

# Figure title
plt.title(" Distribution the previous  of Bank Clients ", loc="center",fontsize='15')

# plot
sns.histplot(data= df, x="previous" , common_norm=False,shrink=.8,multiple="dodge")

# Figure show
plt.show()

<hr>

In [ ]:
# The unquie value in coulmn (pdays)
df['pdays'].unique()

In [ ]:
# Figure size
plt.figure(figsize=(20,10))

# Figure title
plt.title(" Distribution the pdays ", loc="center",fontsize='15')

# plot
sns.histplot(data= df, x="pdays" , common_norm=False,shrink=.8,multiple="dodge")

# Figure show
plt.show()

<hr>

In [ ]:
# The unquie value in coulmn (y)
df['y'].unique()

In [ ]:
# Figure size
plt.figure(figsize=(8,5))

# Figure title
plt.title(" Distribution the y ", loc="center",fontsize='15')

# plot
sns.histplot(data= df, x="y" , common_norm=False,shrink=.8,multiple="dodge")

# Figure show
plt.show()

<hr>

#### 2.7. Detect Outliers

In [ ]:
# Detect Outliers
# I using Box Plot to detect Outliers in the dataset
fig,axes = plt.subplots(3,2,figsize=(20, 10), sharey=True)
fig.suptitle('Boxplot Distributions of the Variables Before Remove Outliters',fontsize=30)

sns.boxplot(ax=axes[0,0], x='age',color='red', data=df)
sns.boxplot(ax=axes[0,1], x='balance',color='yellow'  , data=df) 
sns.boxplot(ax=axes[1,0], x='duration' , color='orange' , data=df)
sns.boxplot(ax=axes[1,1], x='campaign' , color='green' ,   data=df)
sns.boxplot(ax=axes[2,0], x='pdays' ,color='pink' ,   data=df)
sns.boxplot(ax=axes[2,1], x='previous' ,color='pink' ,   data=df);

In [ ]:
cols = ['pdays', 'campaign', 'previous', 'duration' , 'age' , 'balance'] # The columns you want to search for outliers in

# Calculate quantiles and IQR
Q1 = df[cols].quantile(0.25) # Same as np.percentile but maps (0,1) and not (0,100)
Q3 = df[cols].quantile(0.75)
IQR = Q3 - Q1

# Return a boolean array of the rows with (any) non-outlier column values
condition = ~((df[cols] < (Q1 - 1.5 * IQR)) | (df[cols] > (Q3 + 1.5 * IQR))).any(axis=1)

# Filter our dataframe based on condition
df = df[condition]

In [ ]:
df.shape

In [ ]:
# Detect Outliers
# I using Box Plot to detect Outliers in the dataset
fig,axes = plt.subplots(3,2,figsize=(20, 10), sharey=True)
fig.suptitle('Boxplot Distributions of the Variables During Handling with Outliters',fontsize=30)

sns.boxplot(ax=axes[0,0], x='age',color='red', data=df)
sns.boxplot(ax=axes[0,1], x='balance',color='yellow'  , data=df) 
sns.boxplot(ax=axes[1,0], x='duration' , color='orange' , data=df)
sns.boxplot(ax=axes[1,1], x='campaign' , color='green' ,   data=df)
sns.boxplot(ax=axes[2,0], x='pdays' ,color='pink' ,   data=df)
sns.boxplot(ax=axes[2,1], x='previous' ,color='pink' ,   data=df);

In [ ]:
cols = [ 'duration' ,'balance','age'] # The columns you want to search for outliers in

# Calculate quantiles and IQR
Q1 = df[cols].quantile(0.25) # Same as np.percentile but maps (0,1) and not (0,100)
Q3 = df[cols].quantile(0.75)
IQR = Q3 - Q1

# Return a boolean array of the rows with (any) non-outlier column values
condition = ~((df[cols] < (Q1 - 1.5 * IQR)) | (df[cols] > (Q3 + 1.5 * IQR))).any(axis=1)

# Filter our dataframe based on condition
df = df[condition]

In [ ]:
# Detect Outliers
# I using Box Plot to detect Outliers in the dataset
fig,axes = plt.subplots(3,2,figsize=(20, 10), sharey=True)
fig.suptitle('Boxplot Distributions of the Variables During Handling with Outliters',fontsize=30)

sns.boxplot(ax=axes[0,0], x='age',color='red', data=df)
sns.boxplot(ax=axes[0,1], x='balance',color='yellow'  , data=df) 
sns.boxplot(ax=axes[1,0], x='duration' , color='orange' , data=df)
sns.boxplot(ax=axes[1,1], x='campaign' , color='green' ,   data=df)
sns.boxplot(ax=axes[2,0], x='pdays' ,color='pink' ,   data=df)
sns.boxplot(ax=axes[2,1], x='previous' ,color='pink' ,   data=df);

In [ ]:
cols = [ 'duration' ,'balance','age'] # The columns you want to search for outliers in

# Calculate quantiles and IQR
Q1 = df[cols].quantile(0.25) # Same as np.percentile but maps (0,1) and not (0,100)
Q3 = df[cols].quantile(0.75)
IQR = Q3 - Q1

# Return a boolean array of the rows with (any) non-outlier column values
condition = ~((df[cols] < (Q1 - 1.5 * IQR)) | (df[cols] > (Q3 + 1.5 * IQR))).any(axis=1)

# Filter our dataframe based on condition
df = df[condition]

In [ ]:
# Detect Outliers
# I using Box Plot to detect Outliers in the dataset
fig,axes = plt.subplots(3,2,figsize=(20, 10), sharey=True)
fig.suptitle('Boxplot Distributions of the Variables During Handling with Outliters',fontsize=30)

sns.boxplot(ax=axes[0,0], x='age',color='red', data=df)
sns.boxplot(ax=axes[0,1], x='balance',color='yellow'  , data=df) 
sns.boxplot(ax=axes[1,0], x='duration' , color='orange' , data=df)
sns.boxplot(ax=axes[1,1], x='campaign' , color='green' ,   data=df)
sns.boxplot(ax=axes[2,0], x='pdays' ,color='pink' ,   data=df)
sns.boxplot(ax=axes[2,1], x='previous' ,color='pink' ,   data=df);

In [ ]:
cols = [ 'duration' ,'balance','age'] # The columns you want to search for outliers in

# Calculate quantiles and IQR
Q1 = df[cols].quantile(0.25) # Same as np.percentile but maps (0,1) and not (0,100)
Q3 = df[cols].quantile(0.75)
IQR = Q3 - Q1

# Return a boolean array of the rows with (any) non-outlier column values
condition = ~((df[cols] < (Q1 - 1.5 * IQR)) | (df[cols] > (Q3 + 1.5 * IQR))).any(axis=1)

# Filter our dataframe based on condition
df = df[condition]

In [ ]:
# Detect Outliers
# I using Box Plot to detect Outliers in the dataset
fig,axes = plt.subplots(3,2,figsize=(20, 10), sharey=True)
fig.suptitle('Boxplot Distributions of the Variables During Handling with Outliters',fontsize=30)

sns.boxplot(ax=axes[0,0], x='age',color='red', data=df)
sns.boxplot(ax=axes[0,1], x='balance',color='yellow'  , data=df) 
sns.boxplot(ax=axes[1,0], x='duration' , color='orange' , data=df)
sns.boxplot(ax=axes[1,1], x='campaign' , color='green' ,   data=df)
sns.boxplot(ax=axes[2,0], x='pdays' ,color='pink' ,   data=df)
sns.boxplot(ax=axes[2,1], x='previous' ,color='pink' ,   data=df);

In [ ]:
cols = [ 'duration' ,'balance','age'] # The columns you want to search for outliers in

# Calculate quantiles and IQR
Q1 = df[cols].quantile(0.25) # Same as np.percentile but maps (0,1) and not (0,100)
Q3 = df[cols].quantile(0.75)
IQR = Q3 - Q1

# Return a boolean array of the rows with (any) non-outlier column values
condition = ~((df[cols] < (Q1 - 1.5 * IQR)) | (df[cols] > (Q3 + 1.5 * IQR))).any(axis=1)

# Filter our dataframe based on condition
df = df[condition]

In [ ]:
# Detect Outliers
# I using Box Plot to detect Outliers in the dataset
fig,axes = plt.subplots(3,2,figsize=(20, 10), sharey=True)
fig.suptitle('Boxplot Distributions of the Variables During Handling with Outliters',fontsize=30)

sns.boxplot(ax=axes[0,0], x='age',color='red', data=df)
sns.boxplot(ax=axes[0,1], x='balance',color='yellow'  , data=df) 
sns.boxplot(ax=axes[1,0], x='duration' , color='orange' , data=df)
sns.boxplot(ax=axes[1,1], x='campaign' , color='green' ,   data=df)
sns.boxplot(ax=axes[2,0], x='pdays' ,color='pink' ,   data=df)
sns.boxplot(ax=axes[2,1], x='previous' ,color='pink' ,   data=df);

In [ ]:
cols = [ 'duration' ,'balance','age'] # The columns you want to search for outliers in

# Calculate quantiles and IQR
Q1 = df[cols].quantile(0.25) # Same as np.percentile but maps (0,1) and not (0,100)
Q3 = df[cols].quantile(0.75)
IQR = Q3 - Q1

# Return a boolean array of the rows with (any) non-outlier column values
condition = ~((df[cols] < (Q1 - 1.5 * IQR)) | (df[cols] > (Q3 + 1.5 * IQR))).any(axis=1)

# Filter our dataframe based on condition
df = df[condition]

In [ ]:
# Detect Outliers
# I using Box Plot to detect Outliers in the dataset
fig,axes = plt.subplots(3,2,figsize=(20, 10), sharey=True)
fig.suptitle('Boxplot Distributions of the Variables During Handling with Outliters',fontsize=30)

sns.boxplot(ax=axes[0,0], x='age',color='red', data=df)
sns.boxplot(ax=axes[0,1], x='balance',color='yellow'  , data=df) 
sns.boxplot(ax=axes[1,0], x='duration' , color='orange' , data=df)
sns.boxplot(ax=axes[1,1], x='campaign' , color='green' ,   data=df)
sns.boxplot(ax=axes[2,0], x='pdays' ,color='pink' ,   data=df)
sns.boxplot(ax=axes[2,1], x='previous' ,color='pink' ,   data=df);

In [ ]:
cols = [ 'duration' ,'balance','age'] # The columns you want to search for outliers in

# Calculate quantiles and IQR
Q1 = df[cols].quantile(0.25) # Same as np.percentile but maps (0,1) and not (0,100)
Q3 = df[cols].quantile(0.75)
IQR = Q3 - Q1

# Return a boolean array of the rows with (any) non-outlier column values
condition = ~((df[cols] < (Q1 - 1.5 * IQR)) | (df[cols] > (Q3 + 1.5 * IQR))).any(axis=1)

# Filter our dataframe based on condition
df = df[condition]

In [ ]:
# Detect Outliers
# I using Box Plot to detect Outliers in the dataset
fig,axes = plt.subplots(3,2,figsize=(20, 10), sharey=True)
fig.suptitle('Boxplot Distributions of the Variables During Handling with Outliters',fontsize=30)

sns.boxplot(ax=axes[0,0], x='age',color='red', data=df)
sns.boxplot(ax=axes[0,1], x='balance',color='yellow'  , data=df) 
sns.boxplot(ax=axes[1,0], x='duration' , color='orange' , data=df)
sns.boxplot(ax=axes[1,1], x='campaign' , color='green' ,   data=df)
sns.boxplot(ax=axes[2,0], x='pdays' ,color='pink' ,   data=df)
sns.boxplot(ax=axes[2,1], x='previous' ,color='pink' ,   data=df);

In [ ]:
cols = [ 'duration' ,'balance','age'] # The columns you want to search for outliers in

# Calculate quantiles and IQR
Q1 = df[cols].quantile(0.25) # Same as np.percentile but maps (0,1) and not (0,100)
Q3 = df[cols].quantile(0.75)
IQR = Q3 - Q1

# Return a boolean array of the rows with (any) non-outlier column values
condition = ~((df[cols] < (Q1 - 1.5 * IQR)) | (df[cols] > (Q3 + 1.5 * IQR))).any(axis=1)

# Filter our dataframe based on condition
df = df[condition]

In [ ]:
# Detect Outliers
# I using Box Plot to detect Outliers in the dataset
fig,axes = plt.subplots(3,2,figsize=(20, 10), sharey=True)
fig.suptitle('Boxplot Distributions of the Variables During Handling with Outliters',fontsize=30)

sns.boxplot(ax=axes[0,0], x='age',color='red', data=df)
sns.boxplot(ax=axes[0,1], x='balance',color='yellow'  , data=df) 
sns.boxplot(ax=axes[1,0], x='duration' , color='orange' , data=df)
sns.boxplot(ax=axes[1,1], x='campaign' , color='green' ,   data=df)
sns.boxplot(ax=axes[2,0], x='pdays' ,color='pink' ,   data=df)
sns.boxplot(ax=axes[2,1], x='previous' ,color='pink' ,   data=df);

In [ ]:
cols = [ 'duration' ,'balance','age'] # The columns you want to search for outliers in

# Calculate quantiles and IQR
Q1 = df[cols].quantile(0.25) # Same as np.percentile but maps (0,1) and not (0,100)
Q3 = df[cols].quantile(0.75)
IQR = Q3 - Q1

# Return a boolean array of the rows with (any) non-outlier column values
condition = ~((df[cols] < (Q1 - 1.5 * IQR)) | (df[cols] > (Q3 + 1.5 * IQR))).any(axis=1)

# Filter our dataframe based on condition
df = df[condition]

In [ ]:
# Detect Outliers
# I using Box Plot to detect Outliers in the dataset
fig,axes = plt.subplots(3,2,figsize=(20, 10), sharey=True)
fig.suptitle('Boxplot Distributions of the Variables During Handling with Outliters',fontsize=30)

sns.boxplot(ax=axes[0,0], x='age',color='red', data=df)
sns.boxplot(ax=axes[0,1], x='balance',color='yellow'  , data=df) 
sns.boxplot(ax=axes[1,0], x='duration' , color='orange' , data=df)
sns.boxplot(ax=axes[1,1], x='campaign' , color='green' ,   data=df)
sns.boxplot(ax=axes[2,0], x='pdays' ,color='pink' ,   data=df)
sns.boxplot(ax=axes[2,1], x='previous' ,color='pink' ,   data=df);

In [ ]:
cols = [ 'duration' ,'balance','age'] # The columns you want to search for outliers in

# Calculate quantiles and IQR
Q1 = df[cols].quantile(0.25) # Same as np.percentile but maps (0,1) and not (0,100)
Q3 = df[cols].quantile(0.75)
IQR = Q3 - Q1

# Return a boolean array of the rows with (any) non-outlier column values
condition = ~((df[cols] < (Q1 - 1.5 * IQR)) | (df[cols] > (Q3 + 1.5 * IQR))).any(axis=1)

# Filter our dataframe based on condition
df = df[condition]

In [ ]:
# Detect Outliers
# I using Box Plot to detect Outliers in the dataset
fig,axes = plt.subplots(3,2,figsize=(20, 10), sharey=True)
fig.suptitle('Boxplot Distributions of the Variables after Outliters',fontsize=30)

sns.boxplot(ax=axes[0,0], x='age',color='red', data=df)
sns.boxplot(ax=axes[0,1], x='balance',color='yellow'  , data=df) 
sns.boxplot(ax=axes[1,0], x='duration' , color='orange' , data=df)
sns.boxplot(ax=axes[1,1], x='campaign' , color='green' ,   data=df)
sns.boxplot(ax=axes[2,0], x='pdays' ,color='pink' ,   data=df)
sns.boxplot(ax=axes[2,1], x='previous' ,color='pink' ,   data=df);

##### Summary

- In this stage, I doing many steps 
- Load Libraries and dataset.
- Know the basic information about data by using the same function scuh as head, shape , dtypes , info , describe 
- Checking on missing values
- Checking on duplicates values
- Detecting outliters

<hr>

# Done